@font-face {
    font-family: 'the_bold_font';
    src: url('fonts/theboldfont-webfont.woff2') format('woff2'),
         url('fonts/theboldfont-webfont.woff') format('woff'),
         url('fonts/theboldfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'the_bold_font', sans-serif;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  font-family: 'the_bold_font', sans-serif;
  cursor: pointer;
}

.standard_button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #cbd6ee;
}

.generate_button{
  background: #4676D7;
}

.generate_button:hover {
  background: #1d49aa;
}

.print_button{
  background: #707070;
}

.print_button:hover {
  background: #494949;
}

table.main_table {
  margin-left:auto; 
  margin-right:auto;
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}

table.main_table table {
  margin-left:auto; 
  margin-right:auto;
}

table.main_table td {
  padding: 5px;
}

.left_align {
  text-align: left;
}

.right_align {
  text-align: right;
}

#display_title {
  width:850px;
  display: inline-block;
  font-size: 75px;
  line-height:78px;
  margin:0px;
  white-space: pre-line;
}

#display_description {
  width:750px;
  display: inline-block;
  font-size: 25px;
  margin:0px;
  white-space: pre-line;
}

input, textarea {
  border: 1px solid black;
  border-radius:7px;
  padding: 4px;
}

@media print
{
  .noprint {display:none;}
}

@media screen
{
}